.sections-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  gap: 20px;
}

.sections-header h2 {
  font-size: 2rem;
}
.sections-header p {
  font-size: 1.2rem;
  color: var(--secondaryFontColor);
}

@media (min-width: 768px) {
  .sections-header h2 {
    font-size: 2.5rem;
  }
  .sections-header p {
    font-size: 1.6rem;
    color: var(--secondaryFontColor);
  }
}
