.container {
  max-width: 100vw;
  height: 100vh;
}

.hero-container {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: calc(100vh - 90px);
  background: #d1f5ff;
  background: linear-gradient(
    180deg,
    rgba(209, 245, 255, 1) 0%,
    rgba(238, 243, 247, 1) 100%
  );
}

.hero-container .hero-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 100px;
}

.hero-container .hero-information .information-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hero-container .hero-information .information-text h1 {
  font-size: 2.3rem;
  color: var(--destacatedText);
}

.hero-container .hero-information .information-text p {
  font-size: 1.5rem;
}

.hero-container .hero-information .information-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero-container .hero-information .information-buttons button {
  padding: 5px;
  width: 50%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--CTAColor);
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}
