#root {
  --backgroundColor: #f9fafb;
  --sectionBackgroundColor: #eef3f7;
  --destacatedText: #074067;
  --CTAColor: #2874c0;
  --primaryFontColor: #333333;
  --secondaryFontColor: #666666;

  --shiftsColor: #d1f5ff;
  --medicineColor: #d1f5ff;
  --notesColor: #d1f5ff;
  --accesColor: #d1f5ff;
}
