#root {
  --backgroundColor: #f9fafb;
  --sectionBackgroundColor: #eef3f7;
  --destacatedText: #074067;
  --CTAColor: #2874c0;
  --CTAHoveredColor: #2362a0;
  --primaryFontColor: #333333;
  --secondaryFontColor: #666666;

  --shiftsCircleColor: #d0e6ff;
  --medicineCircleColor: #d6f5e3;
  --notesCircleColor: #e8deff;
  --loveCircleColor: #ffacac;

  --testimonialTitleColor: #1f5b2d;
  --testimonialBackgroundColor: #e7fff7;
  --testimonialEmojiColor: #00a400;
  --testimonialBorderColor: #047900;
}
