#testimonials {
  display: grid;
  place-items: center;
  gap: 50px;
  height: auto;
  background: var(--testimonialBackgroundColor);
  padding: 20px 0;
}
.testimonials-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

@media (min-width: 768px) {
  #testimonials {
    padding: 40px 0;
    gap: 80px;
  }
  .testimonials-cards-container {
    gap: 50px;
  }
}
